### 11_10폴더안에 있는 춘천시_버스정류장노선정보_20250212.csv
### 위도와 경도에 대해서 어떤 버스가 다니고 노선의 종류를 알려주고 노선 번호를 알려준다.

In [50]:
import pandas as pd
df1 = pd.read_csv('../data_csv/11_10/춘천시_버스정류장노선정보_20250212.csv',encoding= 'EUC_KR')
print(df1.columns.to_list())
df1.info()

['노선번호', '노선', '정류장순서', '정류장', '정류장명', '경도', '위도', '데이터기준일']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15780 entries, 0 to 15779
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   노선번호    15780 non-null  object
 1   노선      15779 non-null  float64
 2   정류장순서   15779 non-null  float64
 3   정류장     15780 non-null  int64
 4   정류장명    15780 non-null  object
 5   경도      15780 non-null  float64
 6   위도      15780 non-null  float64
 7   데이터기준일  15780 non-null  object
dtypes: float64(4), int64(1), object(3)
memory usage: 986.4+ KB

In [52]:
df1['노선번호'].value_counts().sort_values(ascending = False)

노선번호
남면1(남면103)     164
남면3(남면303)     156
901(기점군자리)     143
903(종점산수1리)    143
901(종점군자리)     141
              ...
S-1             10
S-3             10
S-12             9
S-8              9
S-5              8
Name: count, Length: 222, dtype: int64

In [ ]:
df1_col = ['노선번호','노선']
df2 = df1.loc[:,df1_col]
df2[df1_col].value_counts()
# 겹치는 것을 제외할 경우 총 15780개에서 224개만 서로 노선번호와 노선이 다르다고 보면 된다.
# 즉 1.42%만 데이터가 안겹친다고 생각하면 된다.
# 안겹치는거 제외한 실제 데이터
df3 = df2.drop_duplicates()
df_duplicates_only = df2[df2.duplicated(keep='first')]
df_duplicates_only

<bound method DataFrame.count of              노선번호           노선
1               1  250000100.0
2               1  250000100.0
3               1  250000100.0
4               1  250000100.0
5               1  250000100.0
...           ...          ...
15775  906(종점송암리)  250090601.0
15776  906(종점송암리)  250090601.0
15777  906(종점송암리)  250090601.0
15778  906(종점송암리)  250090601.0
15779  906(종점송암리)  250090601.0

[15556 rows x 2 columns]>

In [46]:
df1[df1['노선번호']== '1'].count()

노선번호      93
노선        93
정류장순서     93
정류장       93
정류장명      93
경도        93
위도        93
데이터기준일    93
dtype: int64

In [56]:
# 정류장 순서
df1['정류장순서'].value_counts()

정류장순서
1.0      222
2.0      222
3.0      222
4.0      222
5.0      222
        ...
160.0      1
161.0      1
162.0      1
163.0      1
164.0      1
Name: count, Length: 164, dtype: int64

In [19]:
#노선번호의 종류 파악하기
df2 = pd.DataFrame(df1['노선번호'].value_counts())
df2

             count
노선번호
남면1(남면103)     164
남면3(남면303)     156
901(기점군자리)     143
903(종점산수1리)    143
901(종점군자리)     141
...            ...
S-1             10
S-3             10
S-12             9
S-8              9
S-5              8

[222 rows x 1 columns]