In [9]:
import pandas as pd

df1 = pd.read_csv("../data_csv/11_09/강원도_사업체_공간집계정보.csv")
print(df.columns)
df1.info()

Index(['Unnamed: 0', 'index', 'UPLFT_XCNTS', 'UPLFT_YDNTS', 'LOWRGT_XCNTS',
       'LOWRGT_YDNTS', 'ID', 'BSNES_CNT', 'LABRR_CNT', 'LABRR_CNT_AVRG',
       'SELNG_AMT', 'SELNG_AMT_AVRG', 'SPCE_INFO'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28443 entries, 0 to 28442
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      28443 non-null  int64
 1   index           28443 non-null  int64
 2   UPLFT_XCNTS     28443 non-null  float64
 3   UPLFT_YDNTS     28443 non-null  float64
 4   LOWRGT_XCNTS    28443 non-null  float64
 5   LOWRGT_YDNTS    28443 non-null  float64
 6   ID              28443 non-null  int64
 7   BSNES_CNT       852 non-null    float64
 8   LABRR_CNT       852 non-null    float64
 9   LABRR_CNT_AVRG  852 non-null    float64
 10  SELNG_AMT       852 non-null    float64
 11  SELNG_AMT_AVRG  852 non-null    float64
 12  SPCE_INFO       28443 non-null  object
dtypes: float64(9), int64(3), object(1)
memory usage: 2.8+ MB

In [10]:
display(df1.head())
df1.describe(include='all')

,Unnamed: 0,index,UPLFT_XCNTS,UPLFT_YDNTS,LOWRGT_XCNTS,LOWRGT_YDNTS,ID,BSNES_CNT,LABRR_CNT,LABRR_CNT_AVRG,SELNG_AMT,SELNG_AMT_AVRG,SPCE_INFO
0,0,0,969828.0,2065246.0,970328.0,2064746.0,1,NaN,NaN,NaN,NaN,NaN,"POLYGON ((969828.1 2065245.8, 970328.1 2065245..."
1,1,1,969828.0,2064746.0,970328.0,2064246.0,2,NaN,NaN,NaN,NaN,NaN,"POLYGON ((969828.1 2064745.8, 970328.1 2064745..."
2,2,2,969828.0,2064246.0,970328.0,2063746.0,3,NaN,NaN,NaN,NaN,NaN,"POLYGON ((969828.1 2064245.8, 970328.1 2064245..."
3,3,3,969828.0,2063746.0,970328.0,2063246.0,4,NaN,NaN,NaN,NaN,NaN,"POLYGON ((969828.1 2063745.8, 970328.1 2063745..."
4,4,4,969828.0,2063246.0,970328.0,2062746.0,5,NaN,NaN,NaN,NaN,NaN,"POLYGON ((969828.1 2063245.8, 970328.1 2063245..."

,Unnamed: 0,index,UPLFT_XCNTS,UPLFT_YDNTS,LOWRGT_XCNTS,LOWRGT_YDNTS,ID,BSNES_CNT,LABRR_CNT,LABRR_CNT_AVRG,SELNG_AMT,SELNG_AMT_AVRG,SPCE_INFO
count,28443.00000,28443.000000,2.844300e+04,2.844300e+04,2.844300e+04,2.844300e+04,28443.000000,852.000000,852.000000,852.000000,852.000000,852.000000,28443
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28443
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((969828.1 2065245.8, 970328.1 2065245..."
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,14221.00000,249.000000,9.977137e+05,1.981655e+06,9.982137e+05,1.981155e+06,18907.385508,7.933099,31.975352,4.859155,4375.850939,749.553991,NaN
std,8210.93119,144.051135,2.960231e+04,4.843484e+04,2.960231e+04,4.843484e+04,19892.875706,30.040615,117.947391,9.295836,13805.690235,2341.197812,NaN
min,0.00000,0.000000,9.698280e+05,1.897746e+06,9.703280e+05,1.897246e+06,1.000000,1.000000,1.000000,1.000000,50.000000,50.000000,NaN
25%,7110.50000,124.000000,9.803280e+05,1.939746e+06,9.808280e+05,1.939246e+06,7125.500000,1.000000,2.000000,2.000000,75.000000,50.000000,NaN
50%,14221.00000,249.000000,9.908280e+05,1.981746e+06,9.913280e+05,1.981246e+06,14250.000000,2.000000,5.000000,2.000000,300.000000,135.500000,NaN
75%,21331.50000,374.000000,1.001328e+06,2.023746e+06,1.001828e+06,2.023246e+06,21374.500000,4.000000,17.250000,4.000000,3000.000000,429.750000,NaN
max,28442.00000,498.000000,1.085328e+06,2.065246e+06,1.085828e+06,2.064746e+06,77781.000000,400.000000,2394.000000,105.000000,184200.000000,30000.000000,NaN

In [11]:
lat_cols = [col for col in df.columns if 'lat' in col.lower()]
lon_cols = [col for col in df.columns if 'lon' in col.lower()]
xy_cols = [col for col in df.columns if 'x' in col.lower() or 'y' in col.lower()]

print("Latitude-like columns:", lat_cols)
print("Longitude-like columns:", lon_cols)
print("X/Y coordinate columns:", xy_cols)

Latitude-like columns: []
Longitude-like columns: []
X/Y coordinate columns: ['index', 'UPLFT_XCNTS', 'UPLFT_YDNTS', 'LOWRGT_XCNTS', 'LOWRGT_YDNTS']

In [1]:
import pandas as pd
from pyproj import Transformer

# === 설정 ===
csv_path = "../data_csv/11_09/강원도_사업체_공간집계정보.csv"
output_csv = "강원도_사업체_위경도_변환.csv"

# EPSG:5179 → EPSG:4326 (WGS84 위도/경도)
transformer = Transformer.from_crs("EPSG:5179", "EPSG:4326", always_xy=True)

# CSV 로드
try:
    df = pd.read_csv(csv_path, encoding="utf-8")
except:
    df = pd.read_csv(csv_path, encoding="cp949")

print("원본 컬럼:", df.columns)

# 변환 함수
def xy_to_latlon(x, y):
    lon, lat = transformer.transform(x, y)
    return lat, lon

# 새 컬럼 추가
df["UPLFT_LAT"], df["UPLFT_LON"] = zip(*df.apply(lambda r: xy_to_latlon(r["UPLFT_XCNTS"], r["UPLFT_YDNTS"]), axis=1))
df["LOWRGT_LAT"], df["LOWRGT_LON"] = zip(*df.apply(lambda r: xy_to_latlon(r["LOWRGT_XCNTS"], r["LOWRGT_YDNTS"]), axis=1))

# 저장
df.to_csv(output_csv, index=False, encoding="utf-8")
print("완료:", output_csv)

원본 컬럼: Index(['Unnamed: 0', 'index', 'UPLFT_XCNTS', 'UPLFT_YDNTS', 'LOWRGT_XCNTS',
       'LOWRGT_YDNTS', 'ID', 'BSNES_CNT', 'LABRR_CNT', 'LABRR_CNT_AVRG',
       'SELNG_AMT', 'SELNG_AMT_AVRG', 'SPCE_INFO'],
      dtype='object')
완료: 강원도_사업체_위경도_변환.csv

In [13]:
pip install pyproj

Collecting pyproj
  Downloading pyproj-3.7.2-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (31 kB)
Requirement already satisfied: certifi in /home/codespace/.local/lib/python3.12/site-packages (from pyproj) (2025.7.9)
Downloading pyproj-3.7.2-cp312-cp312-manylinux_2_28_x86_64.whl (9.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 45.9 MB/s eta 0:00:00:00:01
Installing collected packages: pyproj
  WARNING: The script pyproj is installed in '/usr/local/python/3.12.1/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed pyproj-3.7.2

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# === 설정 ===
csv_path = "../data_csv/11_09/강원도_사업체_공간집계정보.csv"   # ← CSV 경로만 바꾸면 됨
sql_output = "insert_kangwondo_Spatial_Statistics.sql"
table_name = "spatial_statistics"
# ==============

def clean(v):
    """MySQL용 값 변환"""
    if pd.isna(v):
        return "NULL"
    if isinstance(v, str):
        v = v.replace("\\", "\\\\").replace("'", "''")
        return f"'{v}'"
    return str(v)

# CSV 읽기 (인코딩 자동 처리)
try:
    df = pd.read_csv(csv_path, encoding="utf-8")
except UnicodeDecodeError:
    df = pd.read_csv(csv_path, encoding="cp949")

print("CSV 읽기 성공:", df.shape)
print("컬럼명:", list(df.columns))

# CREATE TABLE 자동생성
col_types = []
for col in df.columns:
    if df[col].dtype == "float64":
        col_types.append(f"{col} DOUBLE")
    elif df[col].dtype == "int64":
        col_types.append(f"{col} BIGINT")
    else:
        col_types.append(f"{col} VARCHAR(255)")

create_sql = f"DROP TABLE IF EXISTS {table_name};\n"
create_sql += f"CREATE TABLE {table_name} (\n"
create_sql += ",\n".join(["    " + c for c in col_types])
create_sql += "\n);\n\n"

# INSERT 생성
rows_sql = []
for row in df.itertuples(index=False, name=None):   # ← 여기 수정됨
    values = [clean(v) for v in row]                # ← 컬럼명 대신 튜플 값 그대로 사용
    rows_sql.append("(" + ", ".join(values) + ")")

insert_sql = (
    f"INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES\n" +
    ",\n".join(rows_sql) +
    ";"
)

# SQL 파일 저장
with open(sql_output, "w", encoding="utf-8") as f:
    f.write("-- SQL generated automatically\n\n")
    f.write(create_sql)
    f.write(insert_sql)

print(f"SQL 파일 생성 완료: {sql_output}")

CSV 읽기 성공: (28443, 13)
컬럼명: ['Unnamed: 0', 'index', 'UPLFT_XCNTS', 'UPLFT_YDNTS', 'LOWRGT_XCNTS', 'LOWRGT_YDNTS', 'ID', 'BSNES_CNT', 'LABRR_CNT', 'LABRR_CNT_AVRG', 'SELNG_AMT', 'SELNG_AMT_AVRG', 'SPCE_INFO']
SQL 파일 생성 완료: insert_kangwondo_Spatial_Statistics.sql

In [ ]:
import pandas as pd

df2 = pd.read_csv("../data_csv/11_13/강원도_사업체_위경도_변환.csv")
print(df.columns)
df2.info()

Index(['Unnamed: 0', 'index', 'UPLFT_XCNTS', 'UPLFT_YDNTS', 'LOWRGT_XCNTS',
       'LOWRGT_YDNTS', 'ID', 'BSNES_CNT', 'LABRR_CNT', 'LABRR_CNT_AVRG',
       'SELNG_AMT', 'SELNG_AMT_AVRG', 'SPCE_INFO', 'UPLFT_LAT', 'UPLFT_LON',
       'LOWRGT_LAT', 'LOWRGT_LON'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28443 entries, 0 to 28442
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      28443 non-null  int64
 1   index           28443 non-null  int64
 2   UPLFT_XCNTS     28443 non-null  float64
 3   UPLFT_YDNTS     28443 non-null  float64
 4   LOWRGT_XCNTS    28443 non-null  float64
 5   LOWRGT_YDNTS    28443 non-null  float64
 6   ID              28443 non-null  int64
 7   BSNES_CNT       852 non-null    float64
 8   LABRR_CNT       852 non-null    float64
 9   LABRR_CNT_AVRG  852 non-null    float64
 10  SELNG_AMT       852 non-null    float64
 11  SELNG_AMT_AVRG  852 non-null    float64
 12  SPCE_INFO       28443 non-null  object
 13  UPLFT_LAT       28443 non-null  float64
 14  UPLFT_LON       28443 non-null  float64
 15  LOWRGT_LAT      28443 non-null  float64
 16  LOWRGT_LON      28443 non-null  float64
dtypes: float64(13), int64(3), object(1)
memory usage: 3.7+ MB

In [4]:
import pandas as pd

df = pd.read_csv("../data_csv/11_13/강원도_사업체_위경도_변환.csv")

for col in df.columns:
    if df[col].dtype != float and df[col].dtype != int:
        continue

    mn, mx = df[col].min(), df[col].max()

    if 33 <= mn <= 39 or 33 <= mx <= 39:
        print(f"{col}: 위도(like lat) 범위")
    if 124 <= mn <= 132 or 124 <= mx <= 132:
        print(f"{col}: 경도(like lon) 범위")

UPLFT_LAT: 위도(like lat) 범위
UPLFT_LON: 경도(like lon) 범위
LOWRGT_LAT: 위도(like lat) 범위
LOWRGT_LON: 경도(like lon) 범위