In [2]:
import pandas as pd
# 'data_csv' 폴더를 경로에 추가합니다.
df1 = pd.read_csv('../data_csv/11_12/업종_100m이내_버스정류장_목록.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22 non-null     int64
 1   업종          22 non-null     object
 2   업소명         22 non-null     object
 3   주소          22 non-null     object
 4   연락처         22 non-null     object
 5   위도_업종       22 non-null     float64
 6   경도_업종       22 non-null     float64
 7   index_정류장   22 non-null     int64
 8   노선번호        22 non-null     object
 9   노선          22 non-null     float64
 10  정류장순서       22 non-null     float64
 11  정류장         22 non-null     int64
 12  정류장명        22 non-null     object
 13  경도_정류장      22 non-null     float64
 14  위도_정류장      22 non-null     float64
 15  데이터기준일      22 non-null     object
dtypes: float64(6), int64(3), object(7)
memory usage: 2.9+ KB

In [3]:
display(df1.head())
df1.describe(include='all')

,Unnamed: 0,업종,업소명,주소,연락처,위도_업종,경도_업종,index_정류장,노선번호,노선,정류장순서,정류장,정류장명,경도_정류장,위도_정류장,데이터기준일
0,0,한식,청재,강원도 춘천시 서면 박사로 927,033-255-2867,37.898465,127.693761,4942,서면1-1(서면104),250050306.0,22.0,250002168,서면행정복지센터,127.69411,37.89836,2025-02-12
1,1,한식,두리감자탕,강원도 춘천시 후평동 748-4,033-244-2847,37.888485,127.751478,1436,9,250000900.0,4.0,250026602,동광길입구,127.75105,37.88831,2025-02-12
2,2,한식,약사촌 닭갈비,강원도 춘천시 공지로384-9,033-256-9255,37.871951,127.724553,67,1,250000100.0,68.0,250002028,남부사거리,127.72460,37.87154,2025-02-12
3,3,한식,산마루,강원도 춘천시 백령로 171-1(1층),033-241-0769,37.876259,127.745220,12,1,250000100.0,13.0,250002238,푸른언덕공원,127.74556,37.87622,2025-02-12
4,4,한식,청재,강원도 춘천시 서면 박사로 927,033-255-2867,37.898465,127.693761,4942,서면1-1(서면104),250050306.0,22.0,250002168,서면행정복지센터,127.69411,37.89836,2025-02-12

,Unnamed: 0,업종,업소명,주소,연락처,위도_업종,경도_업종,index_정류장,노선번호,노선,정류장순서,정류장,정류장명,경도_정류장,위도_정류장,데이터기준일
count,22.000000,22,22,22,22,22.000000,22.000000,22.000000,22,2.200000e+01,22.000000,2.200000e+01,22,22.000000,22.000000,22
unique,NaN,4,21,21,21,NaN,NaN,NaN,8,NaN,NaN,NaN,19,NaN,NaN,1
top,NaN,한식,청재,강원도 춘천시 서면 박사로 927,033-255-2867,NaN,NaN,NaN,2,NaN,NaN,NaN,서면행정복지센터,NaN,NaN,2025-02-12
freq,NaN,17,2,2,2,NaN,NaN,NaN,6,NaN,NaN,NaN,2,NaN,NaN,22
mean,13.636364,NaN,NaN,NaN,NaN,37.879054,127.733270,1070.454545,NaN,2.500050e+08,41.227273,2.500052e+08,NaN,127.733193,37.879104,NaN
std,9.863572,NaN,NaN,NaN,NaN,0.018249,0.022182,1466.023833,NaN,1.466116e+04,29.311028,8.694719e+03,NaN,0.022053,0.018216,NaN
min,0.000000,NaN,NaN,NaN,NaN,37.835249,127.693761,12.000000,NaN,2.500001e+08,4.000000,2.500012e+08,NaN,127.694110,37.835100,NaN
25%,5.250000,NaN,NaN,NaN,NaN,37.872206,127.725079,108.250000,NaN,2.500002e+08,17.500000,2.500018e+08,NaN,127.725160,37.872177,NaN
50%,12.500000,NaN,NaN,NaN,NaN,37.877985,127.730488,400.500000,NaN,2.500004e+08,29.000000,2.500019e+08,NaN,127.730780,37.878375,NaN
75%,19.750000,NaN,NaN,NaN,NaN,37.884488,127.745091,1634.750000,NaN,2.500010e+08,68.750000,2.500022e+08,NaN,127.744300,37.884510,NaN
max,33.000000,NaN,NaN,NaN,NaN,37.932582,127.791639,4942.000000,NaN,2.500503e+08,99.000000,2.500266e+08,NaN,127.792100,37.932400,NaN