### 11_10폴더안에 있는 춘천시_버스정류장노선정보_20250212.csv
### 위도와 경도에 대해서 어떤 버스가 다니고 노선의 종류를 알려주고 노선 번호를 알려준다.

In [37]:
import pandas as pd
df1 = pd.read_csv('../data_csv/11_10/춘천시_버스정류장노선정보_20250212.csv',encoding= 'EUC_KR')
print(df1.columns.to_list())
df1['노선'].value_counts()

['노선번호', '노선', '정류장순서', '정류장', '정류장명', '경도', '위도', '데이터기준일']

노선
250051702.0    164
250051902.0    156
250090301.0    143
250090100.0    142
250090101.0    142
              ...
250060000.0     10
250060002.0     10
250060101.0      9
250060007.0      9
250060004.0      8
Name: count, Length: 222, dtype: int64

In [ ]:
df1['노선번호'].value_counts().sort_values(ascending = True)

노선번호
S-5              8
S-12             9
S-8              9
S-1             10
S-3             10
              ...
901(종점군자리)     141
903(종점산수1리)    143
901(기점군자리)     143
남면3(남면303)     156
남면1(남면103)     164
Name: count, Length: 222, dtype: int64

In [49]:
df1_col = ['노선번호','노선']
df2 = df1.loc[:,df1_col]
df2[df1_col].value_counts()
# 겹치는 것을 제외할 경우 총 15780개에서 224개만 서로 노선번호와 노선이 다르다고 보면 된다.
# 즉 1.42%만 데이터가 안겹친다고 생각하면 된다.
df3 = df2.drop_duplicates()
df3.value_counts().sort_values(ascending = True)

노선번호          노선
01월 13일       250001302.0    1
01월 16일       250001601.0    1
07월 01일       250000701.0    1
07월 02일       250000705.0    1
07월 03일       250000706.0    1
                            ..
신북3(신북301)    250050200.0    1
신북3(신북305)    250050201.0    1
신북3-1(신북302)  250050202.0    1
신북3-1(신북303)  250050203.0    1
신북3-1(신북304)  250050204.0    1
Name: count, Length: 223, dtype: int64

In [46]:
df1[df1['노선번호']== '1'].count()

노선번호      93
노선        93
정류장순서     93
정류장       93
정류장명      93
경도        93
위도        93
데이터기준일    93
dtype: int64

In [20]:
# 정류장 순서
df1['정류장순서'].value_counts()

정류장순서
1.0      222
2.0      222
3.0      222
4.0      222
5.0      222
        ...
160.0      1
161.0      1
162.0      1
163.0      1
164.0      1
Name: count, Length: 164, dtype: int64

In [19]:
#노선번호의 종류 파악하기
df2 = pd.DataFrame(df1['노선번호'].value_counts())
df2

             count
노선번호
남면1(남면103)     164
남면3(남면303)     156
901(기점군자리)     143
903(종점산수1리)    143
901(종점군자리)     141
...            ...
S-1             10
S-3             10
S-12             9
S-8              9
S-5              8

[222 rows x 1 columns]