## https://www.data.go.kr/data/15003349/fileData.do

In [1]:
import pandas as pd
df1 = pd.read_csv('../data_csv/11_10/춘천시_요식업소현황_2504.csv',encoding ='CP949')
df1.columns.to_list()
df1['업종명'].value_counts()

업종명
일반음식점    4867
휴게음식점    1273
제과점영업     132
Name: count, dtype: int64

In [ ]:
df1 = pd.read_csv('../data_csv/11_10/춘천시_요식업소_좌표포함.csv')
df1.info()
df2 = pd.read_csv('../data_csv/11_10/춘천시_버스정류장노선정보_20250212.csv',encoding = 'CP949')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6272 entries, 0 to 6271
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   업종명       6272 non-null   object
 1   업소명       6272 non-null   object
 2   소재지(도로명)  6272 non-null   object
 3   소재지(지번)   6272 non-null   object
 4   소재지전화     4369 non-null   object
 5   업태명       6272 non-null   object
 6   데이터기준일자   6272 non-null   object
 7   위도        6126 non-null   float64
 8   경도        6126 non-null   float64
dtypes: float64(2), object(7)
memory usage: 441.1+ KB

NameError: name 'merged_df' is not defined