## 숙박업 강원도
## https://bigdata-sme.kr/#/datastore/detail/statistics/DATASET_SUNDO_69
## 최초 생성일 21.12.13
## 최근수정일 22.06.08

In [ ]:
import pandas as pd
# t
df1 = pd.read_csv("../data_csv/11_08/숙박업_강원도_읍면동.csv")
df1 = df1.drop(columns =['Unnamed: 0','index']) 
# 어떤 컬럼들 있는지 조사
df1.columns.to_list()

['ANN_SALARY_AMT_SUBSUM',
 'CTPRVN_CODE',
 'SIGNGU_CODE',
 'EMD_CODE',
 'STLE_SE_CODE',
 'INDUST_LCLAS_CODE',
 'MAIN_INDUST_SCLAS_CODE',
 'ONLINE_TRADE_EXST_ENNC',
 'BULD_TOTAL_SUM',
 'BULD_POSESN_TOTAL',
 'BULD_LEASE_TOTAL',
 'ROOM_CNT',
 'SELNG_AMT',
 'MAIN_INDUST_ICME',
 'MAIN_INDUST_ELSE_ICME',
 'BSN_COST',
 'LEASE_CHRGE',
 'ADVRTS_COST',
 'BSN_PROFIT',
 'SEEM_WORKER_SUM']

In [ ]:
# 시도 코드
# 33과 22의 의미에 대해 찾아야한다.
df1['ANN_SALARY_AMT_SUBSUM'].value_counts()

ANN_SALARY_AMT_SUBSUM
32.0    373
22.0    139
Name: count, dtype: int64

In [ ]:
# 온라인 거래 존재 유무
# NO가 압도적으로 많다.

df1['MAIN_INDUST_SCLAS_CODE'].value_counts()

MAIN_INDUST_SCLAS_CODE
N    507
Y      5
Name: count, dtype: int64

In [9]:
df1['ONLINE_TRADE_EXST_ENNC'].value_counts()

ONLINE_TRADE_EXST_ENNC
0.0        102
1181.0       3
3454.0       2
2114.0       2
4158.0       2
          ...
3225.0       1
4229.0       1
4276.0       1
14099.0      1
17734.0      1
Name: count, Length: 243, dtype: int64