In [2]:
import pandas as pd
df1 = pd.read_csv('../data_csv/11_11/강원도착한가격업소.csv',encoding ='CP949')
df1.columns.to_list()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업종      356 non-null    object
 1   업소명     356 non-null    object
 2   주소      356 non-null    object
 3   연락처     351 non-null    object
dtypes: object(4)
memory usage: 11.3+ KB