In [30]:
import pandas as pd
df1 = pd.read_csv('data_csv/강원도_사업체_공간집계정보.csv')

#새로운 drop한 데이터 프레임 만들기
df2 = df1.drop(columns = ['Unnamed: 0','SPCE_INFO']).set_index('index')
df2.columns.to_list()
df2_columns = ['ID','UPLFT_XCNTS','UPLFT_YDNTS','LOWRGT_XCNTS','LOWRGT_YDNTS','BSNES_CNT','LABRR_CNT','LABRR_CNT_AVRG',
 'SELNG_AMT','SELNG_AMT_AVRG']
# 'ID'를 맨앞으로 빼서 stack() 진행
df3 = df2.loc[:,df2_columns].stack()
df4 = pd.DataFrame(df3)
df4.columns={'data':0}
df4

                           data
index
0     ID                    1.0
      UPLFT_XCNTS      969828.0
      UPLFT_YDNTS     2065246.0
      LOWRGT_XCNTS     970328.0
      LOWRGT_YDNTS    2064746.0
...                         ...
498   BSNES_CNT             2.0
      LABRR_CNT             4.0
      LABRR_CNT_AVRG        2.0
      SELNG_AMT           125.0
      SELNG_AMT_AVRG       63.0

[146475 rows x 1 columns]

In [5]:
for i, d in enumerate(data_gen):
    print(i, d)
    if i >10:break