In [30]:
import pandas as pd
df1 = pd.read_csv('data_csv/강원도_사업체_공간집계정보.csv')

#새로운 drop한 데이터 프레임 만들기
df2 = df1.drop(columns = ['Unnamed: 0','SPCE_INFO']).set_index('index')
df2.columns.to_list()
df2_columns = ['ID','UPLFT_XCNTS','UPLFT_YDNTS','LOWRGT_XCNTS','LOWRGT_YDNTS','BSNES_CNT','LABRR_CNT','LABRR_CNT_AVRG',
 'SELNG_AMT','SELNG_AMT_AVRG']
# 'ID'를 맨앞으로 빼서 stack() 진행
df3 = df2.loc[:,df2_columns].stack()
df4 = pd.DataFrame(df3)
df4.columns={'data':0}
df4

                           data
index
0     ID                    1.0
      UPLFT_XCNTS      969828.0
      UPLFT_YDNTS     2065246.0
      LOWRGT_XCNTS     970328.0
      LOWRGT_YDNTS    2064746.0
...                         ...
498   BSNES_CNT             2.0
      LABRR_CNT             4.0
      LABRR_CNT_AVRG        2.0
      SELNG_AMT           125.0
      SELNG_AMT_AVRG       63.0

[146475 rows x 1 columns]

In [ ]:
import requests
import pandas as pd
import json
import os
from dotenv import load_dotenv
import time # API 서버 부하를 줄이기 위해 time 라이브러리 추가

# --- dotenv 설정 ---
load_dotenv()
api_key = os.getenv("kangwon_business_area") 

if not api_key:
    print("❌ 오류: .env 파일에서 'kangwon_business_area' 키를 찾을 수 없습니다.")
else:
    url = "https://dataapi.wehago.com/data/"
    headers = {
        "apicode": api_key
    }
    
    # --- 반복문 로직 ---
    all_data_list = []  # 모든 데이터를 저장할 빈 리스트 (장바구니)
    start_index = 0
    chunk_size = 500    # 한 번에 요청할 개수 (0~499는 500개)

    print("데이터 수집을 시작합니다...")

    while True:
        # 1. 'from'과 'to' 파라미터를 동적으로 설정
        params = {
            "dataset_key": "DATASET_SUNDO_11",
            "from": start_index,
            "to": start_index + chunk_size - 1
        }
        
        print(f"  -> {start_index}부터 {start_index + chunk_size - 1}까지 요청 중...")

        try:
            response = requests.get(url, headers=headers, params=params)

            if response.status_code == 200:
                data = response.json()
                
                # 2. 'data' 키에서 실제 데이터 리스트를 가져옴
                data_chunk = data.get('data') # .get()을 사용하면 'data' 키가 없어도 오류 안남

                # 3. 데이터가 비어있는지 확인
                if not data_chunk:
                    # 서버가 빈 리스트([])를 반환하면, 더 이상 데이터가 없다는 의미
                    print("✅ 모든 데이터를 수집했습니다. 반복을 종료합니다.")
                    break
                
                # 4. (중요) 가져온 데이터를 '장바구니' 리스트에 추가
                all_data_list.extend(data_chunk)
                
                # 5. 다음 루프를 위해 시작 인덱스 업데이트
                start_index += chunk_size
                
                # (권장) API 서버에 대한 예의로, 요청 사이에 짧은 휴식 추가
                time.sleep(0.1) # 0.1초 대기

            else:
                # API 호출 자체가 실패한 경우 (400, 404, 500 등)
                print(f"❌ 오류 발생 (Status Code: {response.status_code})")
                print(response.text)
                break # 오류 발생 시 반복 중단

        except requests.exceptions.RequestException as e:
            print(f"연결 중 오류가 발생했습니다: {e}")
            break # 오류 발생 시 반복 중단

    # --- 반복문 종료 후 ---
    if all_data_list:
        # 6. '장바구니'에 모아둔 모든 데이터를 하나의 DataFrame으로 변환
        df_total = pd.DataFrame(all_data_list)
        
        print("\n--- 최종 DataFrame 변환 결과 ---")
        print(f"총 {len(df_total)}개의 행(row)을 가져왔습니다.")
        print(df_total.head())
    else:
        print("\n가져온 데이터가 없습니다.")

In [2]:
import requests
import pandas as pd
import json
import os
from dotenv import load_dotenv
import time # API 서버 부하를 줄이기 위해 time 라이브러리 추가

# --- dotenv 설정 ---
load_dotenv()
api_key = os.getenv("kangwon_living") 

if not api_key:
    print("❌ 오류: .env 파일에서 'kangwon_business_area' 키를 찾을 수 없습니다.")
else:
    url = "https://dataapi.wehago.com/data/"
    headers = {
        "apicode": api_key
    }
    
    # --- 반복문 로직 ---
    all_data_list = []  # 모든 데이터를 저장할 빈 리스트 (장바구니)
    start_index = 0
    chunk_size = 500    # 한 번에 요청할 개수 (0~499는 500개)

    print("데이터 수집을 시작합니다...")

    while True:
        # 1. 'from'과 'to' 파라미터를 동적으로 설정
        params = {
            "dataset_key": "DATASET_SUNDO_69",
            "from": start_index,
            "to": start_index + chunk_size - 1
        }
        
        print(f"  -> {start_index}부터 {start_index + chunk_size - 1}까지 요청 중...")

        try:
            response = requests.get(url, headers=headers, params=params)

            if response.status_code == 200:
                data = response.json()
                
                # 2. 'data' 키에서 실제 데이터 리스트를 가져옴
                data_chunk = data.get('data') # .get()을 사용하면 'data' 키가 없어도 오류 안남

                # 3. 데이터가 비어있는지 확인
                if not data_chunk:
                    # 서버가 빈 리스트([])를 반환하면, 더 이상 데이터가 없다는 의미
                    print("✅ 모든 데이터를 수집했습니다. 반복을 종료합니다.")
                    break
                
                # 4. (중요) 가져온 데이터를 '장바구니' 리스트에 추가
                all_data_list.extend(data_chunk)
                
                # 5. 다음 루프를 위해 시작 인덱스 업데이트
                start_index += chunk_size
                
                # (권장) API 서버에 대한 예의로, 요청 사이에 짧은 휴식 추가
                time.sleep(0.1) # 0.1초 대기

            else:
                # API 호출 자체가 실패한 경우 (400, 404, 500 등)
                print(f"❌ 오류 발생 (Status Code: {response.status_code})")
                print(response.text)
                break # 오류 발생 시 반복 중단

        except requests.exceptions.RequestException as e:
            print(f"연결 중 오류가 발생했습니다: {e}")
            break # 오류 발생 시 반복 중단

    # --- 반복문 종료 후 ---
    if all_data_list:
        # 6. '장바구니'에 모아둔 모든 데이터를 하나의 DataFrame으로 변환
        df_total = pd.DataFrame(all_data_list)
        df_total.to_csv("data_csv/숙박업_강원도_읍면동.csv")
        print("\n--- 최종 DataFrame 변환 결과 ---")
        print(f"총 {len(df_total)}개의 행(row)을 가져왔습니다.")
        print(df_total.head())
    else:
        print("\n가져온 데이터가 없습니다.")

데이터 수집을 시작합니다...
  -> 0부터 499까지 요청 중...
  -> 500부터 999까지 요청 중...
  -> 1000부터 1499까지 요청 중...
✅ 모든 데이터를 수집했습니다. 반복을 종료합니다.

--- 최종 DataFrame 변환 결과 ---
총 512개의 행(row)을 가져왔습니다.
   index  ANN_SALARY_AMT_SUBSUM CTPRVN_CODE SIGNGU_CODE EMD_CODE STLE_SE_CODE  \
0      0                   22.0          10          54      1.0            I
1      1                   22.0          10          56      1.0            I
2      2                   22.0          10          59      1.0            I
3      3                   22.0          10          61      1.0            I
4      4                   22.0          10          62      1.0            I

  INDUST_LCLAS_CODE MAIN_INDUST_SCLAS_CODE ONLINE_TRADE_EXST_ENNC  \
0              55.0                      N                 7699.0
1              55.0                      N                39039.0
2              55.0                      N                40569.0
3              55.0                      N                 3933.0
4              55.0                      N                 3672.0

   BULD_TOTAL_SUM  ...  BULD_LEASE_TOTAL  ROOM_CNT  SELNG_AMT  \
0          5712.0  ...             345.0    2595.0     2595.0
1          6739.0  ...             824.0   17970.0    17970.0
2         31511.0  ...            1682.0    9831.0     9831.0
3          3669.0  ...             217.0     612.0      612.0
4          1915.0  ...             150.0     422.0      422.0

   MAIN_INDUST_ICME  MAIN_INDUST_ELSE_ICME  BSN_COST  LEASE_CHRGE  \
0               0.0                 1696.0     312.0         45.0
1               0.0                16482.0     122.0          2.0
2               0.0                 7253.0     389.0         73.0
3               0.0                  284.0       4.0          0.0
4               0.0                  329.0      15.0          1.0

   ADVRTS_COST  BSN_PROFIT  SEEM_WORKER_SUM
0        899.0         9.0             36.0
1       1488.0        26.0            121.0
2       2578.0        61.0            200.0
3        328.0        13.0             21.0
4         93.0        10.0             19.0

[5 rows x 21 columns]

In [ ]:
import pandas as pd
df1 = pd.read_csv("data_csv/숙박업_강원도_읍면동.csv")
#어떤 컬럼이 있는지 확인하기
df1.columns.tolist()
# 필요없는 컬럼들 제거하기
df2 = df1.drop(columns = ['Unnamed: 0','index'])
# 1.어떤 데이터로 구성되어 있는지 확인하기, int, float, object인지 확인하기!!
# 2.null 값 유무 있을시 dropna() 실행하기
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ANN_SALARY_AMT_SUBSUM   512 non-null    float64
 1   CTPRVN_CODE             512 non-null    int64
 2   SIGNGU_CODE             512 non-null    int64
 3   EMD_CODE                512 non-null    float64
 4   STLE_SE_CODE            512 non-null    object
 5   INDUST_LCLAS_CODE       512 non-null    float64
 6   MAIN_INDUST_SCLAS_CODE  512 non-null    object
 7   ONLINE_TRADE_EXST_ENNC  512 non-null    float64
 8   BULD_TOTAL_SUM          512 non-null    float64
 9   BULD_POSESN_TOTAL       512 non-null    float64
 10  BULD_LEASE_TOTAL        512 non-null    float64
 11  ROOM_CNT                512 non-null    float64
 12  SELNG_AMT               512 non-null    float64
 13  MAIN_INDUST_ICME        512 non-null    float64
 14  MAIN_INDUST_ELSE_ICME   512 non-null    float64
 15  BSN_COST                512 non-null    float64
 16  LEASE_CHRGE             512 non-null    float64
 17  ADVRTS_COST             512 non-null    float64
 18  BSN_PROFIT              512 non-null    float64
 19  SEEM_WORKER_SUM         512 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 80.1+ KB

In [ ]:
!